{% extends "base.html" %}   

{% block content %}
    <main class="bg-light h-100">
        
      <article class="container">
        <h1>Welcome to our fantastic Event planer!</h1>
        
        <p>We aspire to make you happy with the best of our experieance on any design you want, 
        and we hope to be the best event planner for you, just to help you;).</p>
        
        <img src="https://www.thebalancecareers.com/thmb/VSvWAlZDzbK7PAYzVVpY2fBB314=/5120x3413/filters:fill(auto,1)/wedding-planner-56a0f14a5f9b58eba4b56988.jpg" class="img-fluid" 
        alt="Responsive image"
        width="50%"  >
        
      </article>
   
     </main>
  </body>
  {% endblock content %}